{% extends 'layout.html' %}

{% block body%}
<h1 class="head">Calculator</h1>
<div id="topCalc" class="calc">
    <input type="text" id="calculate">
    <a class="calcBtn">C</a>
</div>

<div id="7to9" class="calc">
    <a class="calcBtn">7</a>
    <a class="calcBtn">8</a>
    <a class="calcBtn">9</a>
    <a class="calcBtn">/</a>
</div>

<div id="4to6" class="calc">
    <a class="calcBtn">4</a>
    <a class="calcBtn">5</a>
    <a class="calcBtn">6</a>
    <a class="calcBtn">*</a>
</div>

<div id="1to3" class="calc">
    <a class="calcBtn">1</a>
    <a class="calcBtn">2</a>
    <a class="calcBtn">3</a>
    <a class="calcBtn">+</a>
</div>

<div id="miscbtn" class="calc">
    <a class="calcBtn">.</a>
    <a class="calcBtn">0</a>
    <a class="calcBtn">-</a>
    <a class="calcBtn">=</a>
</div>



{% endblock %}
