body
{
    background-color: ghostwhite;
}

.head
{
    font-family: sans-serif;
}

.fancyButton
{
    transition: ease, .3s;
    border: none;
    background-color: dimgrey;
    font-family: sans-serif;
    color: white;
    padding: 5px;
    text-decoration: none;

}

.calcBtn
{
    transition: ease .3s;
    background-color: #3a3a3a;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    height: 20px;
    width: 30px;
    border: 1px solid grey;
    border-bottom: 3px solid grey;
    border-top: none;
}

.calcBtn:hover
{
    transition: ease .3s;
    background-color: limegreen;
    cursor: pointer;
}

.calc
{
    margin: 20px;
}

.fancyButton:hover
{
    transition: ease, .3s;
    background-color: limegreen;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.jumbotron
{
    text-align: center;
    font-size: 32px;
}
